.ui.borderless.topmenu.menu{
  background-color: #f7f7f7;
  box-shadow: none;
  border: none;
}
.ui.borderless.center.menu{
  box-shadow: none;
  border: none;
}

.charcoal-background{
  background-color: #5b5b5b;
  padding: 20px 0px 20px 0px;
  color: white;
}

